<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles-error.css">
    <title>Error Page</title>
</head>
<body>
    <div class="error-container">
        <h1 class="error-header">Invalid URL</h1>
        <p class="error-message">Not Found</p>

        <div class="back-button-container">
            <a href="/" class="back-button">Go Back</a>
        </div>
    </div>
</body>
</html>