<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/main.js"></script>
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>

    <div class="center-content">
      <form id="url-form" action="/" method="post">

        <label for="url">URL:</label>
        <input type="url" name="url" id="url" required placeholder="http://your.very/long/url">

        <input type="submit" value="Shorten">
          
      </form>
      <br>

      {{if .ShortenedUrl}}
      <div class="result">
        <p class="shortened-url">
          Shortened URL: <a href="{{ .ShortenedUrl }}">{{ .ShortenedUrl }}</a>
    
          <button class="copy-button" onclick="copyToClipboard('{{ .ShortenedUrl }}')">
            <span class="copy-icon">📋</span>
            <span class="copy-subtitle">Copy to Clipboard</span>
          </button>
        </p>
      </div>
      {{end}}
      
    </div>
</body>
</html>