body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow: hidden;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 20px;
  max-width: 400px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="url"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;

  outline: none;
  border-color: #ccc;
}

input[type="url"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* .shortened-url {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.shortened-url a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.shortened-url a:hover {
  text-decoration: underline;
} */

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  height: 100vh;
}

.shortened-url {
  margin-top: 10px; /* Adjust the margin to move the paragraph closer */
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.shortened-url a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.shortened-url a:hover {
  text-decoration: underline;
}

.copy-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.copy-icon {
  font-size: 20px;
  color: #666;
  margin-left: 8px;
  transition: color 0.3s ease;
}

/* Style for the copy button's subtitle */
.copy-subtitle {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #333;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

.copy-button:hover .copy-subtitle {
  opacity: 1;
}
